@using EnterpriseProject.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EnterpriseProject.ViewModels.TopicsVM

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/Idead/Create.css"/>
    <link rel="stylesheet" href="~/css/Idead/BackToList.css"/>
    <link rel="stylesheet" href="~/css/Idead/Cart.css"/>
    <link rel="stylesheet" href="~/css/Idead/card-footer.css"/>
}

<div class="container">
    <div class="row">
            <div class="col-md-4">
                <h1>Idea Table</h1>
            </div>
            <div class="col-md-8">
                @if (Model.Topic.ClosureDate > DateTime.Now)
                {
                    <a asp-controller="Ideas" asp-action="Upsert" asp-route-topicId="@Model.Topic.Id" class="btn btn-primary float-md-right button-create"><i class="fas fa-plus"></i> &nbsp;Create New Idea</a>
                }
                <form class="form-inline my-2 my-lg-0 float-md-right">
                    <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
                </form>
            </div>
        </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <a asp-controller="Topics" asp-action="Index" class="btn btn-secondary button-back">Back To Topics Page</a>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Topic Details</h5>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>@Model.Topic.Name</td>
                        </tr>
                        <tr>
                            <th>Deadline 1</th>
                            <td>@Model.Topic.ClosureDate</td>
                        </tr>
                        <tr>
                            <th>Deadline 2</th>
                            <td>@Model.Topic.FinalClosureDate</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @foreach (var obj in @Model.ReactVms)
    {
        <div class="card">
            <div class="card-header">
                <ul class="list-inline card-meta">
                    <li class="list-inline-item ">
                        <i style="color: #008080;" class="fa-solid fa-user"></i>
                        User: @(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager) ? obj.Idea.ApplicationUser.FullName : "anonymous")
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #b30000;" class="fa-solid fa-calendar "></i>
                        Date: @obj.Idea.DateTime
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #f57d00" class="fa-solid fa-tag"></i>
                        Category: @obj.Idea.Category.Name
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #FCE22A" class="fa-solid fa-folder"></i>
                        Topic: @obj.Idea.Topic.Name
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #0066ff;" class="fa-solid fa-thumbs-up"></i>
                        Likes: @obj.Like
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #0066ff;" class="fa-solid fa-thumbs-down"></i>
                        Dislikes: @obj.DisLike
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #30E3DF;" class="fa-solid fa-eye"></i>
                        Views: @obj.View
                    </li>
                    <li class="list-inline-item">
                        <i style="color: #D61355;" class="fa-solid fa-file-arrow-down"></i>
                        FileName: @obj.FileName
                    </li>
                </ul>
                <h5 class="card-title">Theme Name of ideas: @obj.Idea.Text</h5>
            </div>
            <div class="card-body">
                //
            </div>
            <div class="card-footer">
                <div class="react-buttons">
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager) || User.IsInRole(SD.Role_Staff) || User.IsInRole(SD.Role_Coordinator))
                    {
                        if (obj.Idea.Topic.ClosureDate > DateTime.Now && obj.Idea.Topic.FinalClosureDate > DateTime.Now)
                        {
                            <a asp-controller="React" asp-action="Like" asp-route-ideaId="@obj.Idea.Id" class="btn btn-outline-primary btn-sm">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </a>
                            <a asp-controller="React" asp-action="DisLike" asp-route-ideaId="@obj.Idea.Id" class="btn btn-outline-primary btn-sm">
                                <i class="fa-sharp fa-regular fa-thumbs-down"></i>
                                <span>Dislike</span>
                            </a>
                            <a asp-controller="Comments" asp-action="Index" asp-route-ideaId="@obj.Idea.Id" class="btn btn-outline-secondary btn-sm">
                                <i class="fa-regular fa-comments"></i>
                                <span>Comments</span>
                            </a>
                            <a asp-controller="Ideas" asp-action="Download" asp-route-id="@obj.Idea.FileId" class="btn btn-outline-dark btn-sm">
                                <i class="fa-solid fa-file-arrow-down"></i>
                                <span>Download</span>
                            </a>
                        }
                    }
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <a asp-controller="Ideas" asp-action="Upsert" asp-route-id="@obj.Idea.Id" asp-route-topicId="@Model.Topic.Id" class="btn btn-outline-warning btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </a>
                        <a asp-controller="Ideas" asp-action="Delete" asp-route-id="@obj.Idea.Id" class="btn btn-outline-danger btn-sm">
                            <i class="fa-solid fa-trash-can"></i>
                            <span>Delete</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
        

@section Scripts
{
    <script>
         $(document).ready(function (){
             $("#myInput").on("keyup", function(){
              var value = $(this).val().toLowerCase();
             $("#tblData").filter(function (){
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>
}