@model IEnumerable<EnterpriseProject.ViewModels.ReactVM>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <h1>React Table</h1>
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Text</th>
        <th scope="col">Datetime</th>
        <th scope="col">Category</th>
        <th scope="col">Topic</th>
        <th scope="col">User</th>
        <th scope="col">Like</th>
        <th scope="col">DisLike</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tblData">

    <form method="get" asp-action="Index" asp-controller="React">
    </form>
  

    @foreach (var obj in @Model)
    {
        <tr>
            <th scope="row">@obj.Idea.Id</th>
            <td>@obj.Idea.Text</td>
            <td>@obj.Idea.DateTime</td>
            <td>@obj.Idea.Category.Name</td>
            <td>@obj.Idea.Topic.Name</td>
            <td>@obj.Idea.ApplicationUser.FullName</td>
            <td>@obj.Like</td>
            <td>@obj.DisLike</td>
            <td>
                <a asp-controller="React" asp-action="Like" asp-route-ideaId="@obj.Idea.Id" class="btn btn-warning">Like</a>
                <a asp-controller="React" asp-action="DisLike" asp-route-ideaId="@obj.Idea.Id" class="btn btn-warning">DisLike</a>
            </td>
        </tr>
    }
    </tbody>
    @section Scripts
        {
            <script>
             $(document).ready(function (){
                 $("#myInput").on("keyup", function(){
                  var value = $(this).val().toLowerCase();
                 $("#tblData tr").filter(function (){
                     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                 });
             });
         });
             </script>
        }
</table>