@using EnterpriseProject.Utility
@model IEnumerable<EnterpriseProject.Models.Topic>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-3">
        <h1>Topic Table</h1>
    </div>
    <div class="col-9">
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
        {
            <a asp-controller="Topics" asp-action="Upsert" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp;Create New Topic</a>
        }
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Closure Date</th>
        <th scope="col">Final Closure Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tblData">
    <form method="get" asp-action="Index" asp-controller="Topics">
    </form>
    
    @foreach (var obj in @Model)
    {
        string rowClass = "";
        if (obj.ClosureDate > DateTime.Now && obj.FinalClosureDate > DateTime.Now)
        {
            rowClass = "table-success";
        }
        else if (obj.FinalClosureDate > DateTime.Now && obj.ClosureDate < DateTime.Now)
        {
            rowClass = "table-warning";
        }
        else
        {
            rowClass = "table-danger";
        }
        <tr class="@rowClass">
            <th scope="row">@obj.Id</th>
            <td>@obj.Name</td>
            <td>@obj.ClosureDate</td>
            <td>@obj.FinalClosureDate</td>
            <td>
                 @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                 {
                     <a asp-controller="Topics" asp-action="Upsert" asp-route-id="@obj.Id" class="btn  btn-success">Update</a>
                     <a asp-controller="Topics" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                 }
                 @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager) || User.IsInRole(SD.Role_Staff))
                 {
                     <a asp-controller="Ideas" asp-action="Index" asp-route-topicId="@obj.Id" class="btn btn-warning">Details</a>
                 }
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
         $(document).ready(function (){
             $("#myInput").on("keyup", function(){
              var value = $(this).val().toLowerCase();
             $("#tblData tr").filter(function (){
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>
}